Repository skalenetwork/skale-manager, changes with the owners that .github/CODEOWNERS names for each.
All owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky, @skalenetwork/docowners

SKALE-3535 Fix DKG tests
  test/SkaleDkgFakeComplaint.ts
  test/tools/deploy/skaleToken.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-3535 Fix schain removing bug
  contracts/Schains.sol
  contracts/SchainsInternal.sol
  long-test/Treetest.ts
  long-test/createSchain.ts
  tsconfig.json
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Change erector to originator
  contracts/Schains.sol
  contracts/SchainsInternal.sol
  test/Schains.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-3535 Add comment
  contracts/SchainsInternal.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-4794 add node rotation check
  contracts/Schains.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-4794 add test
  test/SkaleVerifier.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-4794 Fix dependabot.yml
  .github/dependabot.yml
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update gen-nav.js
  scripts/gen-nav.js
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update contract.hbs
  docs/contract.hbs
Owners: @skalenetwork/docowners

Update docs
  docs/modules/api/nav.adoc
  docs/modules/api/pages/BountyV2.adoc
  docs/modules/api/pages/ContractManager.adoc
  docs/modules/api/pages/Nodes.adoc
  docs/modules/api/pages/Schains.adoc
  docs/modules/api/pages/SkaleDKG.adoc
  docs/modules/api/pages/SkaleManager.adoc
  docs/modules/api/pages/Wallets.adoc
  docs/modules/api/pages/delegation/DelegationController.adoc
  docs/modules/api/pages/delegation/DelegationPeriodManager.adoc
  docs/modules/api/pages/delegation/Distributor.adoc
  docs/modules/api/pages/delegation/Punisher.adoc
  docs/modules/api/pages/delegation/TokenState.adoc
  docs/modules/api/pages/delegation/ValidatorService.adoc
  docs/modules/api/pages/dkg/SkaleDkgAlright.adoc
  docs/modules/api/pages/dkg/SkaleDkgBroadcast.adoc
  docs/modules/api/pages/dkg/SkaleDkgComplaint.adoc
  docs/modules/api/pages/utils/MathUtils.adoc
Owners: @skalenetwork/docowners

Update docs
  docs/modules/api/nav.adoc
  scripts/gen-nav.js
Owners: @skalenetwork/docowners, @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update manifest file
  .openzeppelin/mainnet.json
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Change deployment during tests
  contracts/test/NodesMock.sol
  test/tools/deploy/factory.ts
  test/tools/deploy/test/nodesMock.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Fix SafeMock deployment
  contracts/test/SafeMock.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update response delta
  contracts/ConstantsHolder.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update gas refund constant
  contracts/SkaleManager.sol
  test/SkaleManager.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

SKALE-4794 add dkg check and test
  contracts/Schains.sol
  test/SkaleVerifier.ts
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Adjust gas constants
  contracts/ConstantsHolder.sol
  contracts/SkaleManager.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update complaint gas constant
  contracts/ConstantsHolder.sol
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

Update deployed version
  DEPLOYED
Owners: @payvint, @kladkogex, @DimaStebaev, @yavrsky

.github/CODEOWNERS:

* @payvint @kladkogex @DimaStebaev @yavrsky
/docs/ @skalenetwork/docowners
*.md @skalenetwork/docowners
/dictionaries/ @skalenetwork/docowners
